
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(237, 237, 237);
}
.name {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 75px;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background-image: linear-gradient(rgb(216, 217, 207),rgb(237, 237, 237));
    font-weight: 500;
}
.footer, .menu-list {
    font-family: 'Dosis', sans-serif;
    display: flex;
    justify-content: space-around;
}
.list-item {
    list-style: none;
    font-size: 40px;
}
nav {
    display: flex;
    padding: 40px 0;
    flex-flow: column !important;
}
.list-item a {
    text-decoration: none;
    color: rgb(255, 135, 135);
    padding: 20px 20px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

.list-item a::before , {
    content: "";
    background-color: rgb(226, 104, 104) ;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transform: scaleX(0);
    transition: transform .2s ease;
    transform-origin: top right;
}
.list-item a:hover::before{
    transform: scaleX(1);   
    transform-origin: top left;  
}
.list-item a:hover {
    color: #fff;
    font-weight: 700;
}
.app {
    /* padding: 70px 70px; */
    font-family: 'Josefin Sans', sans-serif;
}
.word {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
}
.wrapper-CV {
    background-color: #FF8787;
    padding: 80px 60px;
}
.title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 80px;
}
.row {
    display: flex;
    justify-content: space-between;
}
img.avt {
    width: 30%;
    border-radius: 50%;
}
.CV {
    display: flex;
    justify-self: space-between;
}
.information {
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-size: 20px;
    font-weight: 700;
}
.CV li {
    list-style: none;
}
.wrapper-contact {
    padding: 80px 60px;
    background-color: rgb(237, 237, 237);
}
.contact {
    display: flex;
    justify-content: center;
}
.wrapper-icon {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.fa-brands, .fa-solid {
    font-size: 50px;

}
.fa-instagram{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-phone {
    color: #27c018;
}
.fa-tiktok ,.fa-github {
    color:#000;
}

@media (max-width:1020px) {
    .CV {
        display: grid;
    }
    img.avt {
        display: block;
        margin: auto;
        padding: auto;
        margin-bottom: 30px;
    }
    .information {
        font-size: 16px;
    }
}
@media (max-width:600px) {
    .fa-brands, .fa-solid {
        font-size: 60px;
        margin-bottom: 40px;
    }
    
    .wrapper-icon {
        display: grid;
        justify-content: center;
    }
}
@media (max-width:540px) {
    .information {
        font-size: 15px;
    } 
    .list-item {
        font-size: 30px;
    }
}
.footer {
    background-color:rgb(255, 135, 135) ;
    padding: 80px 60px;
}