* {
    padding: 0;
    margin: 0;
}
.nav-navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}
.navbar-branch {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.branch-name {
    font-size: 2rem;
    font-weight: bold;
}
.branch-slogan {
    font-size: 1rem;
    font-weight: 500;
}
.nav-menu {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.list-item {
    list-style: none;
}
.list-item a {
    text-decoration: none;
    padding: 20px 50px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 10px;
    color: #000;
    position: relative;
    
}
.list-item a::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #ff921d;
    opacity: 0;
    transform: translateY(-25%);
    z-index: -1;
    border-radius: 100% 50% 100% 50%;
}
.list-item a:hover::before{
    transform: translateY(0);
    transition: 0.3s linear;
    opacity: 1;
}
.list-item a:hover {
    color: #fff;
}
.wrapper {
    background-color: rgb(255, 166, 42);
    background-image: linear-gradient(rgb(255, 166, 42),rgb(255, 98, 0));
    background-origin: initial;
}
.container {
    display: flex;
    padding: 60px 0;
    justify-content: space-between;
    
}
@keyframes round {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.left-container img {
    height: 350px;
    /* position: absolute; */
    animation: round 3s infinite linear;
}
.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right-container * {
    align-items: center;
    font-size: 3.5rem;
    color: #fff;
}
.contact {
    flex-direction: column;
}
.wrapper-icon {
    font-size: 125px;
    padding: 20px 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper-icon::before  {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    opacity: 0;
    box-shadow: 3px 3px #0951a464;
}
.wrapper-icon:hover::before {
    opacity: 1;
    transform: translateX(0);
    z-index: -1;
    transition: 1s ease-in-out;
    border-radius: 40px;
}
.facebook::before {
    background-color: #046ee5;
}
.facebook:hover {
    color: #fff;
    cursor: pointer;
}
.facebook:hover i {
    color: #fff;
}
.fa-brands,.fa-solid {
    margin: 5px 20px;
}
.fa-facebook {
    color: #046ee5;
}
.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-envelope {
    color: #fff;
    background-color: #000;
}
.fa-phone {
    color: #2bf72b;
}